*{
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    font-weight: 400px;
    color: #72D8E8;
}
    
.main-body{
    background: url(/pics/backgroundpic.jpg);
    background-size: 100vh 100vh;
    background-position: right bottom;
    padding: 0;
    margin: 0;
}

#contact-me{
    align-content: center;
    text-align: center;
    margin: 0;
}

.fa-envelope-o, .fa-github, .fa-linkedin{
    color:#72D8E8;
}

#fname1, #sname{
    font-weight: 400;
}

footer{
    padding: 20px 0px 30px 0px;
}

header{
    text-align: center;
}

header, #contact-me, #content{
    padding-left:50px;
    padding-right:50px;
}

h1{
    color: #72D8E8;
    font-style: normal;
    font-size: 50px;
    font-weight: 100;
    text-align: center; 
    padding-top: 20px;
    margin-bottom: 0;
}

h3{
    text-align: center;
    color: grey;
    letter-spacing: 7px;
    padding: 2em;
}

h4 , .nav-a{
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 300;
    color: gray;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

#geotag:hover {
    background-color: black;
    opacity: .7;
}

#page-main{
    background-color: #ffffff;
    width: 60%;
    height: 100%;
    overflow: auto;
    position: absolute;
    left: 0;
}

#page-portfolio{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
}

p{
    color: gray;
    font-size: 20px;
    line-height: 150%;
}

.photobox{
    box-sizing: border-box;
    margin: 0;
    width: 50%;
}


.pbs{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
    
}

li{
    display: inline;
    list-style: none;
    padding: 1em;
}

.nav-a:hover{
    font-weight: 500;
}

.nav-divider{
    padding: 0 .5rem;
}

ul{
    list-style: none;
    padding-left: 0;
    
}

/* Mobile Integration */

@media all and (max-width: 900px) {
    body{
        background: none;
        height:auto;
    }
    h1{
        font-size: 40px;
    }
    #page{
        width: 100%;
    }
    p{
        font-size: 15px;
    }

@media all and (max-width: 680px) {
    li{
        display:block;
        padding: 12px 0px 12px 0px;
    }
}

#geotag.hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); 
}
